table, th, td{
	
	border: 2px solid black;
	border-collapse: collapse;
}

table{
	width: 100%;
}

td{
	text-align: center;
	height: 40px;	
}

.titulo{
	text-align: center;
	font: bold;
}

td.lya{
	background-color: cyan;
}

td.ppc{
	background-color: #FFB57B;
}

td.ti{
	background-color: #ADFF96;
}

td.pw{
	background-color: #A1B0FE;
}

td.sp{
	background-color: #CCE674;
}

td.cye{
	background-color: #EF6CFB;
}

tr.receso{
	background-color: #56070C;
	color: white;
	font-weight: bold;
}

th.thh{
	width: 100px;
}